.menu {
  list-style: none;
  display: flex;
}

.link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 10px 15px;
}

.link:global(.active) {
  color: red;
}
